.login-form {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  margin-top: 20px;
}

.login-form input {
  display: flex;
  width: 250px;
  padding: 10px;
  font-size: 1rem;
}

.existing-user-login-button {
  width: 250px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  flex-wrap: wrap;
  margin-top: 20px;
}

.existing-user-login-button:hover {
  background-color: #333; 
  color: white;         
  transition: background-color 0.3s ease;
} 

.new-user-login-button {
  width: 250px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  flex-wrap: wrap;
  margin-top: 20px;
}

.existing-user1 {
  margin-top: 26px;
}

.existing-user2 {
  margin-top: 20px;
}

.new-user1 {
  margin-top: 80px;
}
.new-user2 {
  margin-top: 26px;
}
