.question-card {
    padding: 50px 100px 50px 100px;
}

.q-and-a {
    display: flex;
    flex-direction: column;
}

.submit-button {
    margin: 50px 20px 5px 20px;
}

/* .pawprint input[type="radio"] {
    display: none;
  }
  
  .pawprint {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
  }
  
  .pawprint::before {
    content: "🐾";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    transition: transform 0.2s ease;
  } */